<div class="container mt-3">
  <h1>Add List</h1>
  <%= simple_form_for (@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Submit', class: 'btn btn-danger mt-2' %>
  <% end %>
</div>
<%=  %>
