<h1><%= @list.name %></h1>

<p>Bookmarks:</p>


<% @list.bookmarks.each do |bookmark| %>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.comment %></p>
    <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %> DELETE COMMENT  <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
</div>
<% end %>

<%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>
