<div class="container">
  <h1>Movie List:</h1>
    <%= link_to 'Add Movie', new_list_bookmark_path(@list) %>
    <div class="movie-card">
      <% @list.bookmarks.each do |bookmark| %>
        <h2><%= bookmark.movie.title %></h2>
        <h3><%= @list.name %></h2>
        <p><%= bookmark.comment %></p>
        <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete,turbo_confirm: 'Are you sure?' } do %> DELETE COMMENT  <i class="farfa-trash-alt"></i>
          <% end %>
      <% end %>
  </div>
</div>
