<h1>New Bookmark for <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all, prompt: "Select a movie" %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to list', @list %>
